#page{
	background-color:#fdf3f3;
}

#content{
	background-color: white;
	width: 65%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
}

a{
	text-decoration: none;
	color:#EC8B8B;
}

a:hover{
	text-decoration: none;
	color: #bc6f6f;
}

footer{
	background-color: #eeeeee;
	padding: 2%;
	text-align: center;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}

#topLogo {
	width: 30%;
}

#topDiv{
	text-align: center;
	
}

.info{
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1%;
	font-size: 1em;
	margin-bottom: 0px;	
}

#homeImage{
	width:50%;
}

#homeImageDiv{
	text-align: center;
	margin-top: 2%;
}

#insta{
	width: 15%;
	display: block;
	margin-right: auto;
	margin-left: auto;


}

#social {
	text-align: center;
	padding-bottom: 5%;
}

/*design page */

.designInfo{
	width: 62%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

#imageContainerDiv{
	width: 100%;
}

.prints {
	width: 250px;
	display: inline;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.imageRow {
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.printsSquare{
	width: 31.5%;
	display: inline;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

/*custom prints page */

.largePrints{
	width: 70.4%;
}

.printsCustom{
	width: 35%;
	display: inline;
}

.printsStates{
	width: 23.2%;
	display: inline;
}


/*contact page */

#button {
	display: block;
	float: left;
	margin-top: 2%;
	
}

.contactForm{
	margin-right: auto;
	margin-left: auto;
	width: 45%;
	padding-bottom: 30%;

}

#messageBox{
	width: 325px;
	height: 100px;
	display: block;
}


/*media queries */

img {
    max-width: 100%
}

@media only screen and (max-width : 900px) {
	.info{
		width: 98%;
	}
	#homeImage{
		width:98%;
	}
	#insta{
		width: 35%;
	}
	.largePrints, .printsCustom, .printsStates{
		width: 100%;
		display: block;
	}
	.printsSquare{
		width: 100%;
		display: block;
	}
	#messageBox{
		width: 150px;
		height: 200px;
		margin-bottom: 3%;
	}
}

